node_modules
# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env*.local

# Typescript
*.tsbuildinfo

# Logs
*.log

# IDE
.vscode/
.idea/

# Expo generated
expo-env.d.ts